
#selection_1, #selection_2, #form-wrapper-input-output, #form-wrapper-description
{
    background-color: rgba(0, 0, 0, 0.2);
}

.carousel-item-start, .carousel-item-end
{
    opacity: 0 !important;
}

.card-bg
{
    background-color: #976c44 !important;
}

.form-control-sm
{
    width:50px;
    height:15px;
    font-size:12px;
}

.modal-backdrop
{
    z-index: 0;
    opacity: 0.2 !important;
}

.none
{
    display: none;
}

body
{
    background-image: linear-gradient(to bottom right,#31394e,#1d212d,#191e33,#141829,#101321);
    color: #ccc;
};

